<footer class="footer pt-4 pb-5 bg-dark text-white">
    <div class="container col-6 align-items-center">
        <div class="d-flex justify-content-center">
            <a href="https://www.facebook.com/alexander_frantsev/" data-toggle="tooltip" data-placement="top" title="facebook" class="icon m-3">
                <span class="fab fa-facebook"></span>
            </a>
            <a href="https://instagram.com/asfrants/" data-toggle="tooltip" data-placement="top" title="instagram" class="icon m-3">
                <span class="fab fa-instagram"></span>
            </a>
            <a href="https://t.me/as_frantsev/" data-toggle="tooltip" data-placement="top" title="telegram" class="icon m-3">
                <span class="fab fa-telegram"></span>
            </a>
            <a href="https://linkedin.com/in/asfrantsev" data-toggle="tooltip" data-placement="top" title="linkedin" class="icon m-3">
                <span class="fab fa-linkedin"></span>
            </a>
            <a href="https://github.com/whoknowswhocares" data-toggle="tooltip" data-placement="top" title="github" class="icon m-3">
                <span class="fab fa-github"></span>
            </a>
        </div>
        <div class="col mb-md-0">
            <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                <p class="fw-normal mb-0">Copyright © FTech 2023-2024. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>