<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="{{ url_for('static',path='/css/style.css')}}"/> 

<link rel="shortcut icon" href="/static/favicon/favicon.ico">
<link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/static/favicon/favicon.ico">
<link rel="icon" type="image/svg_xml" href="/static/favicon/favicon.svg">
<link rel="apple-touch-icon" href="/static/favicon/favicon-64.png">
<link rel="manifest" href="/static/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#0C1C30">
<meta name="msapplication-config" content="/static/favicon/browserconfig.xml">

<!-- <link type="text/css" href="/static/css/loader.css" rel="stylesheet"> -->